* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

li {
    list-style-type: none;
}

.header-logo, .website-text h2 {
    color: #f9f9f9;

}

.header-logo {
    font-size: 24px;
}

.cat-photo {
    max-width: 350px;
    max-height: 350px;
}

.header-links {
    display: flex;
    gap: 16px;
}


.header,
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.section-one {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #1F2937;
}

.website-text h2 {
    font-size: 48px;
    font-weight: 900;

}

.website-text p, .header-links {
    color: #E5E7EB;
    font-size: 18px;
}

.website-text { 
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 40%;
}

.sign-up-btn {
    align-self: flex-start;
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    border: none;
}

.photo {
    max-width: 250px;
    max-height: 250px;
}
.photos {
    display: flex;
    gap: 32px;
}
.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.photo-txt {
    width: 45%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-three{
    background-color: #E5E7EB;
    padding: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

blockquote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    max-width: 50%;
}

.section-four {
    padding: 64px;
    display: flex;
    justify-content: center;
}

.action {
    background-color: #3882F6;
    padding: 32px 64px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex-grow: 1;
    color: #F9FAF8;
}

.sign-up-banner {
    border-color: white;
    border-radius: 8px;
    padding: 8px 24px;
    background-color: #3882F6;
    color: white;

}

footer {
    background-color: #1F2937;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.copyright {
    color: white;
}

